@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");

.dropdown {
  width: 100% !important ;
  position: relative;
}

.dropdownSelectionCategory,
.dropdownSelectionSort {
  width: 100%;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  border: 1px solid #dedee0;
  border-radius: 5px;
  font-size: 12px;
  color: #707070;
  background-color: #f9fafb;
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 45px;
  text-align: left;
}

.dropdownSelectionCategory {
  background-image: url("../../images/category.svg");
  height: 40px;
}

.dropdownSelectionSort {
  background-image: url("../../images/sort.svg");
  background-position: 10px 7px;
  height: 40px;
}

.itemsHolder {
  margin-top: 42px;
  width: 100%;
  box-sizing: border-box;
  position: absolute !important;
  z-index: 1001;
  background-color: #fff;
  border: 1px solid #dedee0;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  transform: none !important;
}

.dropdownItem {
  font-family: "Heebo", sans-serif;

  padding: 7px 10px;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
    border: 0px;
  }
  &:first-child {
    padding-top: 10px;
  }
  &:last-child {
    padding-bottom: 10px;
  }
}

*:focus {
  outline: none;
}

.closeButton {
  position: relative;
  right: 35px;
  top: 6px;
  cursor: pointer;
  transition: ease-in 0.1s;
}

.arrow {
  position: relative;
  right: 30px;
  top: 0px;
  transition: ease-in 0.1s;
  pointer-events: none;
}

