.mainWrapper {
  width: 60%;
  margin: 10px auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .mainWrapper{
    flex-direction: column;
    width: 95%;    
  }
  
}