.mainCartWrapper {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: -20px;
  background: #fff;
  min-height: calc(100vh - 146px);

  .infoWrapper {
    padding: 69px 40px;
    width: 100%;
    .title {
      font-weight: 400;
      font-size: 25px;
      margin-bottom: 35px;
    }

    .info {
      display: flex;
      justify-content: space-between;

      .leftWrapper {
        width: 60%;
      }
      .rightWrapper {
        width: 32%;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .mainCartWrapper {
    width: 100%;
    .infoWrapper {
      padding: 0;
      .title {
        text-align: center;
        margin-top: 23px;
        margin-bottom: 15px;
      }
      .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .leftWrapper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .rightWrapper {
          width: 90%;
          margin-bottom: 30px;
        }
      }
    }
  }
}
