@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");
@font-face {
  font-family: "Planet";
  src: local("Planet3D"),
    url("../../fonts/planetncompact.ttf") format("truetype");
  font-weight: bold;
}
.header {
  width: 100%;
  background-color: #9e9d24;
  height: 76px;
  position: sticky;
  z-index: 999;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .headerContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .headerLeft {
      align-items: center;
      display: flex;
      text-decoration: none;
      .logo {
        margin-right: 22px;
      }
      .logoName {
        letter-spacing: 4px;
        font-family: "Planet";
        color: white;
        text-transform: uppercase;
      }
    }
    .svgLike,
    .svgCart {
      cursor: pointer;
      display: block;
      margin-left: 30px;
    }
    .headerRight {
      display: flex;
      justify-content: end;
      align-items: center;
      .userBar {
        justify-content: right;
        display: flex;
        align-items: center;
        .menuButton {
          margin-left: 30px;
          background-color: none;
          border: none;
          border-radius: 50%;
          padding: 0;
          img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            display: block;
            cursor: pointer;
            border: 4px solid #827717;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
      .welcomeName {
        font-family: "Heebo", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        margin-left: 30px;
      }
      .separator {
        padding: 0 15px;
        color: #a5d6a7;
        pointer-events: none;
      }
    }
  }
}
.backdropStyles {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
  z-index: 999;
  perspective: 800px;
  transition: opacity 350ms ease-in-out;
  opacity: 0;
  &[data-enter] {
    opacity: 1 !important;
  }
}
.dialogStyles {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 425px;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
  opacity: 0;
  transform-origin: top center;
  &[data-enter] {
    opacity: 1 !important;
    transform: translate3d(-50%, 0, 0) !important;
  }
}

.registerButton,
.loginButton {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border: 0;
  background: none;
  cursor: pointer;
  transition: ease-in 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.registerButton {
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  .header {
    height: 50px;

    .headerContainer {
      width: 95%;
      .headerLeft {
        .logo {
          height: 40px;
          margin: 0;
        }

        .logoName {
          display: none;
        }
      }

      .headerRight {
        align-items: center;

        .separator {
          padding: 0 5px;
        }
      }
    }
  }

  .registerButton,
  .loginButton {
    font-size: 12px;
  }
  .welcomeName {
    display: none;
  }
}
