@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  padding: 0 !important;
}

.closeDialog {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.dialogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.topSectionWrapper {
  padding: 36px 32px;
  padding-bottom: 5px;
  height: 339px;
  width: 350px;
}

.title {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  color: #373738;
  margin-bottom: 48px;
}

.form {
  width: 100%;

  .inputBox {
    position: relative;
  }

  .password {
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
  }

  .passwordHint {
    display: block;
    font-family: 'Heebo', sans-serif;
    color: #707070;
    font-weight: 400;
    font-size: 12px;
    width: 70%;
    margin-top: -26px;
  }

  .sumbitButton {
    margin-top: 30px;
    width: 100%;
    height: 36px;
    background-color: #4fbca1;
    border: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #fff;
    cursor: pointer;
    transition: ease-in 0.1s;

    &:hover {
      background-color: #39a389;
    }
  }

  .passwordHint {
    color: #d50000;
    margin-top: -10px;
  }
}

.bottomDialog {
  position: absolute;
  bottom: -25%;
  padding: 30px 0;
  background-color: #fff;
  left: 0;
  width: 425px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .bottomText {
    text-align: center;
    color: #373738;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;

    .logInButton {
      color: #4fbca1;
      cursor: pointer;
      &:hover {
        color: #00695c;
      }
    }
  }
}
