@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
  font-family: 'Heebo', sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

.body {
  min-height: calc(100vh - 170px);
}
